antlr4-python3-runtime == 4.9.3    
distlib         ==        0.3.9    
filelock          ==      3.16.1
flatbuffers        ==     25.2.10
google-trans-new    ==    1.1.9
keyboard           ==     0.13.5
libclang          ==      18.1.1
Markdown         ==       3.7
MarkupSafe       ==       3.0.2
mdurl          ==         0.1.2
mpmath        ==          1.3.0
msgpack      ==          1.1.0
mtranslate   ==           1.8
multidict    ==           6.1.0
namex       ==            0.0.8
ndindex          ==       1.9.2
networkx         ==       3.4.2
numpy           ==        2.0.2
opt_einsum      ==        3.4.0
orjson          ==        3.10.15
packaging       ==        24.2
parso          ==         0.8.4
pillow        ==         11.1.0
pip           ==          23.2.1
platformdirs   ==         4.3.6
playsound       ==        1.3.0
pox              ==       0.3.5
ppft          ==          1.7.6.9
prompt_toolkit   ==       3.0.50
propcache       ==        0.3.0
protobuf         ==       5.29.3
psutil           ==       7.0.0
pure_eval        ==       0.2.3
py-cpuinfo       ==       9.0.0
py4j            ==        0.10.9.7
pyasn1         ==         0.6.1
PyAudio        ==         0.2.14
pycparser      ==         2.22
pydub          ==         0.25.1
pygame         ==         2.6.1
Pygments       ==         2.19.1
pyparsing      ==         3.2.1
pypiwin32      ==         223
PySocks        ==         1.7.1
python-dotenv    ==       1.0.1
python_speech_features == 0.6
pytz               ==     2025.1
pywin32           ==      309
PyYAML           ==       6.0.2
qh3             ==        1.4.2
regex           ==        2024.11.6
rfc3986          ==       2.0.0
rpds-py          ==       0.23.1
safetensors      ==       0.5.3
setuptools      ==        76.0.0
six             ==        1.17.0
sniffio         ==        1.3.1
sortedcontainers   ==     2.4.0
soupsieve      ==         2.6
srt         ==            3.5.3
sympy       ==            1.13.1
tbb         ==            2022.0.0
tcmlib       ==           1.2.0
tenacity        ==        9.0.0
tensorboard-data-server ==0.7.2
termcolor           ==    2.5.0
threadpoolctl      ==     3.5.0
tomli            ==       2.2.1
traitlets         ==      5.14.3
typing_extensions  ==     4.12.2
tzdata       ==           2025.1
umf           ==          0.9.1
uritemplate    ==         4.1.1
urllib3       ==         2.3.0
virtualenv      ==        20.27.1
wassima       ==          1.2.2
wcwidth        ==         0.2.13
websocket-client   ==     1.8.0
websockets       ==       15.0.1
wheel           ==        0.45.1
wrapt            ==       1.17.2
zipp             ==       3.21.0
zstandard         ==      0.23.0